.fighter-player {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: 5px solid #ca9650;
	background-color: #ffdfa7;
}

.fighter-info__container {
	height: 200px;
	align-self: center;
}

.fighter-info__container img {
	height: 100%;
	max-width: none;
	max-height: none;
}

.fighter-info__data {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #aa7b55;
	font-weight: 800;
}

.fighter-info__data.name {
	margin: 10px 0;
	font-size: 18px;
	font-weight: 800;
	align-self: center;
	color: #7d531a;
}

.fighter-info__data.name::before {
	display: none;
}

.fighter-info__data::before {
	content: attr(data-title);
	display: block;
	text-transform: capitalize;
	font-weight: 700;
	margin-right: 10px;
	width: 70px;
	color: #aa7b55;
}

.fighter-winner {
	height: 300px;
	padding: 20px;
}
